html,
body {
    width: 100%;
    background-color: #efefef;
    margin-bottom: 100px;
}

.bg-color {
    background-color: #efefef;
}

.faq-title {
    text-align: center;
}

.root-container {
    position: relative;
}

.title-img {}

.title-about-div {}

.about-us {}

.about-title {
    text-align: center;
}

.about-box {
    background-color: #dddddd !important;
}

.faq-div {}

.round-img {
    /* border-radius: 50%; */
}

.team-text {
    padding: 2rem;
    padding-bottom: 1rem;
}


/* Footer CSS Start */

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}


/* Footer CSS End */


/*---Media Queries --*/

@media (max-width: 992px) {
    .about-title {
        font-size: 1.5em;
    }
    .about-us {
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    .about-title {
        font-size: 1.4em;
    }
    .about-us {
        font-size: 0.9em;
    }
}

@media (max-width: 576px) {
    .about-title {
        font-size: 1.3em;
    }
    .about-us {
        font-size: 0.8em;
    }
}

@media (max-width: 376px) {
    .logo-img {
        margin-top: 7px;
        width: 30px;
        height: 30px;
    }
    .logo-name {
        font-size: 0.7em;
    }
    .navbar-toggler-icon {
        height: 1em !important;
        width: 1em !important;
    }
    .nav-items {
        font-size: 0.9em;
    }
    .title-img {
        padding: 0px !important;
    }
    .about-us {
        margin-top: 0.5rem !important;
    }
    .about-title {
        font-size: 1rem;
        margin-top: 0.8rem !important;
        margin-bottom: 0.7rem !important;
    }
    .about-box {
        padding: 1rem;
        padding-bottom: 0.5em;
        font-size: 0.6rem;
    }
    .faq-title {
        font-size: 1rem;
        margin-top: 1.5rem !important;
        margin-bottom: 0.7rem !important;
    }
    #accordion {
        font-size: 0.7rem;
    }
    .round-img {
        height: 130px;
        width: 130px;
    }
    .team-section {
        margin-top: 1rem;
    }
    .team-title {
        font-size: 1rem;
        text-align: center;
        margin-top: 1rem;
        padding: 10px;
    }
    .dp-div {
        margin: 1rem !important;
        padding: 0px !important;
    }
    .team-text {
        padding: 1rem;
        padding-bottom: 0.5rem;
    }
    .best-stories-title {
        font-size: 1rem;
        margin-top: 1.5rem;
    }
    .best-stories-images {
        margin-top: 1rem;
    }
    .best-stories-content {
        font-size: 0.7rem;
        padding: 1rem;
    }
}