html,
body {
    width: 100%;
    background-color: #efefef;
}

html {
    scroll-behavior: smooth;
}

.bg-color {
    background-color: #efefef;
}

.faq-title {
    text-align: center;
}

.root-container {
    position: relative;
}

.title-img {}

.title-about-div {}

.about-us {
    margin: 1.5rem;
}

.about-title {
    text-align: center;
}

.about-box {
    margin-top: 1.5rem;
    background-color: #dddddd !important;
    padding: 2rem;
    text-align: center;
}

.faq-div {
    margin-top: 2rem;
}

.round-img {
    /* border-radius: 50%; */
}

.team-section {
    margin-top: 2rem;
}

.team-text {
    padding: 2rem;
    padding-bottom: 1rem;
}

.best-stories-title {
    margin: 2rem;
}

.best-stories-content {
    margin: 1rem;
    padding: 1rem;
    font-weight: lighter;
}

.text-lighter {
    font-weight: lighter !important;
    color: black;
}

.all-faq-text {
    margin-top: 1.5rem;
}

.follow-us {
    padding-bottom: 4rem;
}

.social-media-text {
    margin-top: 10px
}

.name-div {
    margin-top: 1.5rem;
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}


/* Search Box CSS start */

.selection {
    background-color: #e8e8e8;
}

.accordion {
    margin-top: 2rem;
}

.highlighted {
    background-color: yellow;
}

#search-box-parent {
    position: relative;
    overflow: visible;
}

#suggestions {
    position: absolute;
    left: 0px;
    z-index: 3;
    width: 100%;
    height: 100%;
}

b {
    padding: 0.5px;
}

#no-results {
    margin-top: 3rem;
    width: 100%;
    font-weight: lighter;
    text-align: center;
}


/* Search Box CSS end */


/* Footer CSS Start */

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}


/* Footer CSS End */


/*---Media Queries --*/

@media (max-width: 992px) {
    .logo-img {
        width: 53px;
        height: 40px;
    }
    .logo-name {
        font-size: 0.8em;
    }
    .navbar-toggler-icon {
        height: 1em !important;
        width: 1em !important;
    }
    .nav-items {
        font-size: 0.9em;
    }
    .title-img {
        padding: 0px !important;
    }
    .about-us {
        margin-top: 1rem;
    }
    .about-title {
        font-size: 1rem;
    }
    .about-box {
        margin-top: 0.7rem;
        padding: 1rem;
        padding-bottom: 0.5em;
        font-size: 0.6rem;
    }
    .faq-title {
        font-size: 1rem;
        margin-top: 1.5rem !important;
        margin-bottom: 0.7rem !important;
    }
    #accordion {
        font-size: 0.7rem;
    }
    .round-img {
        height: 130px;
        width: 130px;
    }
    .about-section-title {
        padding: 0;
        margin: 0;
    }
    .team-section {
        margin-top: 1rem;
    }
    .xs-margin {
        margin-top: 2rem;
    }
    .team-title {
        font-size: 1rem;
        text-align: center;
        padding: 10px;
    }
    .dp-div {
        padding: 0px !important;
        margin-left: -10px;
        width: 20px !important;
    }
    .team-text {
        padding: 1rem;
        padding-bottom: 0.5rem;
        margin: 0px;
        margin-left: 0px;
    }
    .best-stories-title {
        font-size: 1rem;
        margin-top: 2rem;
    }
    .best-stories-images {}
    .best-stories-content {
        font-weight: lighter;
        font-size: 0.7rem;
        padding: 1rem;
    }
    .card-body {
        font-size: 0.7rem;
    }
    .text-left {
        font-size: 0.7rem !important;
    }
    #search-query::placeholder {
        font-size: 0.7rem !important;
        font-weight: lighter;
    }
    #search-query {
        font-size: 0.7rem !important;
    }
    .list-group-item {
        font-size: 0.7rem !important;
    }
    .social-media-text {
        font-size: 0.7rem;
        margin-top: 10px
    }
    .follow-us {
        padding-bottom: 2rem;
    }
    .name-div {
        margin-top: 1.5rem;
        font-size: 15px;
    }
}

@media (max-width: 769px) {
    .logo-img {
        width: 53px;
        height: 40px;
    }
    .logo-name {
        font-size: 0.8em;
    }
    .navbar-toggler-icon {
        height: 1em !important;
        width: 1em !important;
    }
    .nav-items {
        font-size: 0.9em;
    }
    .title-img {
        padding: 0px !important;
    }
    .about-us {
        margin-top: 1rem;
    }
    .about-title {
        font-size: 1rem;
    }
    .about-box {
        margin-top: 0.7rem;
        padding: 1rem;
        padding-bottom: 0.5em;
        font-size: 0.6rem;
    }
    .faq-title {
        font-size: 1rem;
        margin-top: 1.5rem !important;
        margin-bottom: 0.7rem !important;
    }
    #accordion {
        font-size: 0.7rem;
    }
    .round-img {
        height: 130px;
        width: 130px;
    }
    .about-section-title {
        padding: 0;
        margin: 0;
    }
    .team-section {
        margin-top: 1rem;
    }
    .xs-margin {
        margin-top: 2rem;
    }
    .team-title {
        font-size: 1rem;
        text-align: center;
        padding: 10px;
    }
    .dp-div {
        padding: 0px !important;
        margin-left: -10px;
        width: 20px !important;
    }
    .team-text {
        padding: 1rem;
        padding-bottom: 0.5rem;
        margin: 0px;
        margin-left: 0px;
    }
    .best-stories-title {
        font-size: 1rem;
        margin-top: 2rem;
    }
    .best-stories-images {}
    .best-stories-content {
        font-weight: lighter;
        font-size: 0.7rem;
        padding: 1rem;
    }
}


/* @media (max-width: 576px) {
    .logo-img {
        margin-top: 7px;
        width: 30px;
        height: 30px;
    }
    .logo-name {
        font-size: 0.7em;
    }
    .navbar-toggler-icon {
        height: 1em !important;
        width: 1em !important;
    }
    .nav-items {
        font-size: 0.9em;
    }
    .title-img {
        padding: 0px !important;
    }
    .about-us {
        margin-top: 0.5rem !important;
    }
    .about-title {
        font-size: 1rem;
        margin-top: 0.8rem !important;
        margin-bottom: 0.7rem !important;
    }
    .about-box {
        padding: 1rem;
        padding-bottom: 0.5em;
        font-size: 0.6rem;
    }
    .faq-title {
        font-size: 1rem;
        margin-top: 1.5rem !important;
        margin-bottom: 0.7rem !important;
    }
    #accordion {
        font-size: 0.7rem;
    }
    .round-img {
        height: 130px;
        width: 130px;
    }
    .team-section {
        margin-top: 1rem;
    }
    .team-title {
        font-size: 1rem;
        text-align: center;
        margin-top: 1rem;
        padding: 10px;
    }
    .dp-div {
        margin: 1rem !important;
        padding: 0px !important;
    }
    .team-text {
        padding: 1rem;
        padding-bottom: 0.5rem;
    }
    .best-stories-title {
        font-size: 1rem;
        margin-top: 1.5rem;
    }
    .best-stories-images {
        margin-top: 1rem;
    }
    .best-stories-content {
        font-size: 0.7rem;
        padding: 1rem;
    }
}

@media (max-width: 376px) {
    .logo-img {
        margin-top: 7px;
        width: 30px;
        height: 30px;
    }
    .logo-name {
        font-size: 0.7em;
    }
    .navbar-toggler-icon {
        height: 1em !important;
        width: 1em !important;
    }
    .nav-items {
        font-size: 0.9em;
    }
    .title-img {
        padding: 0px !important;
    }
    .about-us {
        margin-top: 0.5rem !important;
    }
    .about-title {
        font-size: 1rem;
        margin-top: 0.8rem !important;
        margin-bottom: 0.7rem !important;
    }
    .about-box {
        padding: 1rem;
        padding-bottom: 0.5em;
        font-size: 0.6rem;
    }
    .faq-title {
        font-size: 1rem;
        margin-top: 1.5rem !important;
        margin-bottom: 0.7rem !important;
    }
    #accordion {
        font-size: 0.7rem;
    }
    .round-img {
        height: 130px;
        width: 130px;
    }
    .team-section {
        margin-top: 1rem;
    }
    .team-title {
        font-size: 1rem;
        text-align: center;
        margin-top: 1rem;
        padding: 10px;
    }
    .dp-div {
        margin: 1rem !important;
        padding: 0px !important;
    }
    .team-text {
        padding: 1rem;
        padding-bottom: 0.5rem;
    }
    .best-stories-title {
        font-size: 1rem;
        margin-top: 1.5rem;
    }
    .best-stories-images {
        margin-top: 1rem;
    }
    .best-stories-content {
        font-size: 0.7rem;
        padding: 1rem;
    }
} */